html {
  box-sizing: border-box;
}


body{
  font-family:Arial, Helvetica, Sans-serif;
  background-color:#fff;
  padding:0;
  margin:0;
  width: 100%;
}

.main-container{
  width:940px;
  margin:25px auto 0;
  background:#fff;
  padding:20px;

}

.top-ad-container{
  position: relative;
  height:110px;
  width:100%;
  top:0px;
  left:0px;
  background-color: #DADADA;
  padding: 10px 0 0;
}

.ad-3{
  margin: 0 auto;
  position: relative;
  width:730px;
  height:92px;
}

#header{
  position: absolute;
  height: 58px;
  width:100%;
  top:110px;/*110px*/
  left:0px;
  background: #EBEBEB;
  z-index: 10;
  overflow: hidden;
}

#header.transition, #footer-ad.transition{
    transition: all 0.2s ease-out;
}
#header.go-up{
  margin-top:-110px;

}

#header.stuck{
  position:fixed;
  top:0px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  border-bottom: none;
}

.main-nav{
  height: 55px;
  background-color: #EBEBEB;
  transition: all 0.2s ease-out;
  width: 974px;
  margin: 0 auto;
  position: relative;
}

.ui-container{
  position:relative;
  margin-top:0;
  overflow:hidden;
  height:100%;
}

.list-items{
  margin-top:0;
  position: relative;
}

.ad-container, .ad-container-wide{
  width:728px;
  height:90px;
  margin:0px auto;
  overflow: visible;
  position: relative;
}
.ad-container-wide{
  width:972px;
}
/*
.nav-ad-2 .ad-container:before{
  content:'';
  position:absolute;
  width:32px;
  height:32px;
  background-image:url('../_img/tiny-logo.png');
  top:0;
  left:-38px;
}*/


.ad-1{
    margin-top:0px;
    transition: margin 0.2s ease-out;
}
.ad-1.moveUp{
  margin-top:-90px;
}

.logo-container{
  position: absolute;
  z-index:5;
  top: 7px;
  left:5px;
  transition: top 0.2s ease-out;
}

.logo-container img{
  width: 165px;
}


.logo-container.hidden{
  top:20px;
}


.information-container{
  left: 153px;
  width: 821px;
  top: 0px;
  position:absolute;
  z-index:1;
}

/*  Growout Nav */

.growing-nav{
  height:80px;
  width:100%;
  background:#fff;
  float:left;
  border-bottom:1px solid #fff;
  text-align: center;
  transition: height 0.2s ease-out;
  overflow:hidden;
  box-shadow:0 5px 5px #777;

}

.nav-container ul{
  margin:0 auto; 
}

.nav-container ul li{
    display:inline-block;
}

ul.button-navs{
  z-index:10;
  position:absolute;
  right:0;
  top: -8px;
  margin: 0px;
  padding: 0px;
  float: right;
  height: 0px;
}

ul.button-navs li{
  margin-top:10px;
  padding: 0 10px 0 0;
  font-size: 12px;
  line-height:28px;
  height: inherit;
  display:inline-block;
  font-family: 'Roboto Regular', Helvetica, Sans-serif;
}

ul.button-navs .searcharea{
  float:left;
}

ul.button-navs .searcharea li i{
  font-size:17px;
  margin-left: 0px;
  position: absolute;
  top: 5px;
  right: 5px;
}

ul.button-navs li i:hover{
  color:#848485;
}

ul.button-navs li.hidden{
  display:none;
}

ul.button-navs li.logged-in{
  text-transform: inherit;
  font-size: 11px;
  margin-right: 5px;
}

ul.button-navs li.logged-in i{
  margin-left: 6px;
}

ul.button-navs li.logged-out a:hover, ul.button-navs li.logged-in a:hover{
   color:#848485;

}

ul.button-navs li:first-child{
position: relative;
margin-right: 20px;}
ul.button-navs li:last-child, ul.sub-navs li:last-child
{
  padding:0;
}

ul.button-navs li.social{
  margin-top: 10px;
  position: relative;
  padding-right: 15px;
  font-size:13px;
}

li.social a{
  color:#606060;
}

ul.button-navs li.social .fa-google-plus{
  top: 4px;
  position: relative;
  font-size: 15px;
}
ul.button-navs li a{
  text-decoration: none;
  color: #1F1F1F;
}

ul.button-navs li.register-button{
  font-weight:bold;
  margin-left: 15px;
}
ul.button-navs li.highlighted a{
  color:#fff;
}
ul.button-navs li a:hover{
  color:#848485;
}

ul.button-navs li a:visited{
  color: #1f1f1f;
}



ul.button-navs li.signin-button{
  padding-right:0;
  /* font-weight: 400; */
}

ul.button-navs li.signin-button a{
  color:#1f1f1f;
}

ul.button-navs li.signin-button a:hover{
  color:#848485;
}
ul.large-navs{
  margin:0;
  padding: 4px 0 0;
  border-top:1px solid #aeaeae;
  position: relative;
  width: 779px;
  top: 31px;
  left: 52px;
}
ul.large-navs li{
  font-family: 'Roboto',Sans-serif;
  font-size: 13px;
  padding: 0 12.5px 0 0;
  float:left;
  display:inline-block;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 17px;
}

ul.large-navs li.small-nav{
  font-weight:normal;
}

ul.large-navs li.small-nav a{
  color:#454545;
}
ul.large-navs li:last-child{
  padding-right:0;
}
.search-button{
  z-index: 99;
  cursor: pointer;
  opacity: 1;
  right: 20px;
  top: 7px;
  position: absolute;
  font-size: 14px;
}

#search-box{
  position: absolute;
  opacity: 1;
  width: 145px;
  transition:all .5s ease-out;
  z-index: 1;
  right: 0;
  top: 2px;
}

#search-box.hidden{
  width:0;
  opacity: 0;
}

#search-box.hidden input[type="text"]{
  width:0;
}

#search-box input[type="text"]{
  text-indent: 3px;
  padding: 0px;
  width: 145px;
  height: 22px;
  transition:all .5s ease-out;
  border: none;
  position: absolute;
  z-index: 1;
  right: 14px;
  border: 1px solid #ccc;
}



ul.large-navs li a{
  color: #1F1F1F;
  text-decoration: none;
}

ul.sub-navs{
  float: right;
  clear: left;
  margin: 0;
  /* width: 764px; */
  padding: 0;
  display: inline-block;
  margin: 13px 0 0;
}

ul.sub-navs li{
  font-family: 'Roboto',Sans-serif;
  font-size: 13px;
  color: #1F1F1F;
  line-height: 17px;
  padding: 0 9px 0 0;
  font-weight: normal;
  display:inline-block;
  text-transform: uppercase;
}

ul.sub-navs li a{
  color: #1F1F1F;
  text-decoration: none;
}

ul.sub-navs li a:hover, ul.large-navs li a:hover{
  color:#848485;
}

.growing-nav ul li{
  display:inline-block;
  float:left;
  
}

.hidden{
  height:0px;
}
.no-ad{
  top:0px;
}
.ad-1-container{
  z-index:5;
  background:#fff;
  height:90px;
  width:100%;
  margin-top: 65px;
  padding: 10px 0;
}

.nav-ad-2{
  z-index:10;
  height:110px;
  width:100%;
  float: left;
  position:absolute;
  bottom:0px;
  left:0;
  transition: all 0.2s ease-out;
  opacity:1;
  padding:10px;
}

.nav-ad-2.hidden{
  bottom:-90px;
  opacity: 0;
}

.nav-ad-2 .ad-container{
  margin:-3px 0 0 270px;
}

.main-container p{
  margin:0 0 20px;
}

.main-container p:last-of-type{
  margin-bottom:0;
}


#footer-ad{
  position:relative;
  width:100%;
  height:110px;
  margin:0;
  background: #fff;
  /*transition: all 0.2s ease-out;*/
  bottom:0px;

}

#footer-ad img{ 
  position: relative;
  margin:10px auto;
  display: block;
}

#footer-ad.stucky{
  position: fixed;
  bottom:0;
  left:0;
  z-index: 999;
}

#footer-ad.relativeFriend{
  position: relative;
  bottom: 0;
}

#footer-ad.hidden{
  bottom:-110px;
  position:fixed;
}


#footer-wrapper{
  position: relative;
  height:380px;
  width:100%;
  padding: 20px 0;
  margin:50px 0 0;
  background: rgba(255,255,255,1);
  background: 
  
  -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: 
  
  -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
  background: 
  
  -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: 
  
  -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: 
  
  -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0 );
  }

footer .lowerinfo{
  position: relative;


}

